.button {
    border-width: 1px;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: calc(.5em - 1px);
    padding-top: calc(.5em - 1px);
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    outline: none;
    font-size: inherit;
    font-family: inherit;
}

.primary{
    background-color: var(--primary);
    color: white;
    border: 0;
    box-shadow: var(--box-shadow);
    border-radius: var(--b-radius);
}

.primary:hover{
    background-color: var(--primary-dark-1);
}