.navLink{
    display: inline-block;
    padding: var(--size-6);
}

.nav{
    border-bottom: 4px solid var(--primary);
    -webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter: saturate(180%) blur(5px);
    background-color: hsla(0,0%,100%,0.8);
}