.header {
    margin-top: var(--size-1);
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-gap: var(--size-4);
}

.descriptionLabel{
    margin-top: 0px;
    display: block;
}