.containerFilter {
    margin: var(--size-8) 0 var(--size-6) 0;
    display: flex;
}

.selectOrder {
    min-width: 200px;
    width: auto;
}

@media (max-width: 600px) {
    .containerFilter {
        flex-direction: column;
        margin: 0px;
    }
    .selectOrder {
        width: 100%;
    }
}
