html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: var(--text);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--body-bg);
}

a {
  color: var(--primary-light-3);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0px;
  color: var(--primary);
}

.text-cursive{
  color: var(--text-light);
  font-style: italic;
  margin: 0px;
}

.container {
  max-width: 1300px;
  padding: var(--size-4);
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
      max-width: 960px;
  }
}

.align-center{
  text-align: center;
}

